@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100px 440px 440px;
}

body {
  background-color: white;
}

header {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #026cdf;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.title {
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.sign {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.nav {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: span 2;
  background-color: #252525;
  color: white;
  text-align: center;
  overflow-y: scroll;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25%, 75%;
}

.search {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.eventTitle {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: center;
}

.both {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.eventInfo {
  grid-column-start: 1;
  grid-row-start: 2;
  color: #252525;
  font-size: 24px;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

.images {
  grid-column-start: 2;
  grid-row-start: 2;
  padding-top: 25px;
}

button {
  background-color: #ddedf4;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 100px;
  height: 35px;
}

input {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

