@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 60px 440px 440px;
}

body{
  background-color: white;
}

header {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #212221;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: span 2;
  background-color: #1181B2;
  color: white;
  text-align: center;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25%, 75%;
}

.eventInfo {
  grid-row-start: 2;
  color: #1181B2;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.search {
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  background-color: #DDEDF4;
  font-family: "Poppins", sans-serif;
  margin: 10px;
}

input {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}