@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

body {
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 25%;
  background-color: #ccc;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 10pt;
  white-space: nowrap;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#info {
  position: fixed;
  top: 100px;
  left: 25.1%;
  color: black;
  font-size: 16px;
  border: 3px solid black;
}

#search {
  position: fixed;
  top: 60px;
  left: 25.1%;
}

table {
  border-collapse: collapse;
}
th,
td {
  border: 2px solid black;
  padding: 15px;
}